.card-columns.single-column {
    column-count: 1;
    min-width: 14em;
    width: 22em;
    max-width: 100%;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.card-title {
    flex-grow: 1;
    min-height: 1.5rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body img {
    display: block;
    max-width: 100%;
}

.card-body > p:last-child {
    margin-bottom: 0;
}
